{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
  	<h2 class="my-5">This is add recipe page</h2>

    {{ form_start(form) }}
      <div class="row mb-3">
        {{ form_label(form.image) }}
        <div class="col-9">
          {{ form_widget(form.image) }}
        </div>
      </div>

      <div class="row mb-3">
        {{ form_label(form.name) }}
        <div class="col-9">
          {{ form_widget(form.name) }}
        </div>
      </div>

      <div class="row mb-3">
        {{ form_label(form.description) }}
        <div class="col-9">
          {{ form_widget(form.description) }}
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg w-100">
        <strong>Save recipe</strong>
      </button>

    {{ form_end(form, {render_rest: false}) }}
  </div>
{% endblock %}
